In [2]:
import mysql.connector
import pandas as pd
import json

In [3]:
conn = mysql.connector.connect(
         host='10.3.2.13',
         database='etl',
         user='etlmysql',
         password='tata@123')

In [16]:
feedname = 'Employees'
mapper = 'SELECT * FROM etl.mapper' + ' WHERE feedname' + " ='" + feedname + "' and key_col = 'layoutfilepath'"
pd_df = pd.read_sql(mapper, conn)
mapper = spark.createDataFrame(pd_df)

In [18]:
layoutfilepath = mapper.collect()[0]['value_col']
print(layoutfilepath)

/home/etl/ETL/inputdata/EmployeesSchema.json

In [13]:
import sys
import logging
import json
import os, time  #import statements
from datetime import datetime
import mysql.connector
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from stat import *
from pyspark.context import SparkContext
from pyspark.sql import SQLContext
from pyspark import SparkContext, SparkConf
from pyspark.sql.types import *
from pyspark.sql import SparkSession, HiveContext
from pyspark.sql.types import StringType
import pyspark.sql.functions as f

In [14]:
SparkContext.setSystemProperty("hive.metastore.uris", "thrift://10.3.2.20:9083")
sparkSession = (SparkSession.builder.appName('pyspark-to-load-tables-hive').enableHiveSupport().getOrCreate())
spark = SparkSession.builder.appName('changeColNames').getOrCreate()
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))
sqlContext = SQLContext(sc)

In [8]:
data = spark.read.json("/home/etl/ETL/mysqlDetails.json")

In [35]:
data.show()

+-------+---------+--------+--------------------+--------+
|DB_name|     host|password|               query|    user|
+-------+---------+--------+--------------------+--------+
|    etl|10.3.2.13|tata@123|select * from tut...|etlmysql|
+-------+---------+--------+--------------------+--------+

In [9]:
data = pd.read_json('mysqlDetails.json',typ='series',orient='columns')

ValueError: Expected object or value

In [37]:
data

DB_name                             etl
host                          10.3.2.13
user                           etlmysql
password                       tata@123
query       select * from tutorials_tbl
dtype: object

In [42]:
DB_name= data.DB_name
user=data.user
password=data.password
host=data.host
query=data.query
conn = mysql.connector.connect(
     host=host,
     database=DB_name,
     user=user,
     password=password)
#attendence tracker table 
pd_df = pd.read_sql(query, conn)
#dataframe = spark.createDataFrame(pd_df)
pd_df

   tutorial_id tutorial_title tutorial_author submission_date
0            1      Learn PHP       John Poul      2019-07-08
1            2    Learn MySQL         Abdul S      2019-07-08
2            3  JAVA Tutorial          Sanjay      2007-05-06

In [40]:
dataframe = spark.createDataFrame(pd_df)

In [41]:
dataframe.show()

Py4JJavaError: An error occurred while calling o254.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 7.0 failed 1 times, most recent failure: Lost task 0.0 in stage 7.0 (TID 7, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 267, in main
    ("%d.%d" % sys.version_info[:2], version))
Exception: Python in worker has different version 2.7 than that in driver 3.6, PySpark cannot run with different minor versions.Please check environment variables PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON are correctly set.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:452)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:588)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:571)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1889)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1877)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1876)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1876)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2110)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2048)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:737)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:365)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3383)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3364)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3363)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2758)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:254)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:291)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 267, in main
    ("%d.%d" % sys.version_info[:2], version))
Exception: Python in worker has different version 2.7 than that in driver 3.6, PySpark cannot run with different minor versions.Please check environment variables PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON are correctly set.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:452)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:588)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:571)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [3]:
pd_df = pd.read_sql('select * from  etl.filemetadata', conn)
pd_df

,FeedName,FileName,FileType,FileDelimiter,BusDatePosition,BusDateStartPos,BusDateEndPos,BusDateFormat,TrailerCountPos,HeaderIdentifier,DetailIdentifier,TrailerIdentifier
0,Bank,CreditCard_Nulls,DELIMITED,",",3.0,None,None,DD/MM/YYYY,2.0,1.0,2.0,3.0
1,Reports,Report_US_Alerts_DUMP_LAST_3_M,DELIMITED,",",NaN,None,None,None,NaN,NaN,NaN,NaN

In [4]:
pd_df = pd.read_sql('select * from  etl.feedcontrol', conn)
pd_df

,FeedName,FileName,FileFormat,LandingPath,RejectThreshold,Processtype,HeaderTrailerFlag,RawZonePath,SourceTableName
0,Bank,CreditCard_Nulls.csv,DELIMITED,/home/etl/ETL/inputdata,3,ETL,Y,hdfs://10.3.2.13:8020/user/had,CreditCard_hivetb
1,Reports,Report_US_Alerts_Dump_Last_3_M,DELIMITED,/home/etl/ETL/inputdata,4,passthrough,N,hdfs://10.3.2.13:8020/user/had,ReportUSAlerts_DumpLast3Months
2,Tutorial,MysqlTestTable,database,"""""",0,passthrough,N,hdfs://10.3.2.13:8020/user/had,MysqlTestTable_hivetb

In [5]:
pd_df = pd.read_sql('select * from  etl.calender', conn)
pd_df

  BusDate OpenIndicator
0    None             Y

In [1]:
import json
import mysql.connector
import pyarrow as pa
import pyarrow.parquet as pq
from stat import *
from pyspark.context import SparkContext
from pyspark.sql import SQLContext
from pyspark import SparkContext, SparkConf
from pyspark.sql.types import *
from pyspark.sql import SparkSession, HiveContext
from pyspark.sql.types import StringType
import pyspark.sql.functions as f

SparkContext.setSystemProperty("hive.metastore.uris", "thrift://10.3.2.20:9083")
sparkSession = (SparkSession.builder.appName('pyspark-to-load-tables-hive').enableHiveSupport().getOrCreate())
spark = SparkSession.builder.appName('changeColNames').getOrCreate()
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

# # 1.Data

# In[2]:
BussinessDate = '2019-05-29'#sys.argv[1]''
Tracking_ID = 9 #sys.argv[1]''
#selectSql = 'select * from etl.telcocustomerchurn where busdate =' + BussinessDate +' and attendence_id=' + Tracking_ID;

selectSql = 'select * from etl.telcocustomerchurn where busdate="2019-05-29" and attendence_id=9'
telcom = sparkSession.sql(selectSql)
telcom.toPandas()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn,busdate,attendence_id
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29,29.0,No,2019-05-29,9
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56,1889.0,No,2019-05-29,9
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53,108.0,Yes,2019-05-29,9
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42,1840.0,No,2019-05-29,9
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70,151.0,Yes,2019-05-29,9
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,99,820.0,Yes,2019-05-29,9
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,Yes,No,Month-to-month,Yes,Credit card (automatic),89,1949.0,No,2019-05-29,9
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,Month-to-month,No,Mailed check,29,301.0,No,2019-05-29,9
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,104,3046.0,Yes,2019-05-29,9
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),56,3487.0,No,2019-05-29,9
10,9763-GRSKD,Male,0,Yes,Yes,13,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,49,587.0,No,2019-05-29,9
11,7469-LKBCI,Male,0,No,No,16,Yes,No,No,No internet service,...,No internet service,No internet service,Two year,No,Credit card (automatic),18,326.0,No,2019-05-29,9
12,8091-TTVAX,Male,0,Yes,No,58,Yes,Yes,Fiber optic,No,...,Yes,Yes,One year,No,Credit card (automatic),100,5681.0,No,2019-05-29,9
13,0280-XJGEX,Male,0,No,No,49,Yes,Yes,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103,5036.0,Yes,2019-05-29,9
14,5129-JLPIS,Male,0,No,No,25,Yes,No,Fiber optic,Yes,...,Yes,Yes,Month-to-month,Yes,Electronic check,105,2686.0,No,2019-05-29,9
15,3655-SNQYZ,Female,0,Yes,Yes,69,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Two year,No,Credit card (automatic),113,7895.0,No,2019-05-29,9
16,8191-XWSZG,Female,0,No,No,52,Yes,No,No,No internet service,...,No internet service,No internet service,One year,No,Mailed check,20,1022.0,No,2019-05-29,9
17,9959-WOFKT,Male,0,No,Yes,71,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Two year,No,Bank transfer (automatic),106,7382.0,No,2019-05-29,9
18,4190-MFLUW,Female,0,Yes,Yes,10,Yes,No,DSL,No,...,No,No,Month-to-month,No,Credit card (automatic),55,528.0,Yes,2019-05-29,9
19,4183-MYFRB,Female,0,No,No,21,Yes,No,Fiber optic,No,...,No,Yes,Month-to-month,Yes,Electronic check,90,1862.0,No,2019-05-29,9
20,8779-QRDMV,Male,1,No,No,1,No,No phone service,DSL,No,...,No,Yes,Month-to-month,Yes,Electronic check,39,39.0,Yes,2019-05-29,9
21,1680-VDCWW,Male,0,Yes,No,12,Yes,No,No,No internet service,...,No internet service,No internet service,One year,No,Bank transfer (automatic),19,202.0,No,2019-05-29,9
22,1066-JKSGK,Male,0,No,No,1,Yes,No,No,No internet service,...,No internet service,No internet service,Month-to-month,No,Mailed check,20,20.0,Yes,2019-05-29,9
23,3638-WEABW,Female,0,Yes,No,58,Yes,Yes,DSL,No,...,No,No,Two year,Yes,Credit card (automatic),59,3505.0,No,2019-05-29,9
24,6322-HRPFA,Male,0,Yes,Yes,49,Yes,No,DSL,Yes,...,No,No,Month-to-month,No,Credit card (automatic),59,2970.0,No,2019-05-29,9
25,6865-JZNKO,Female,0,No,No,30,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Bank transfer (automatic),55,1530.0,No,2019-05-29,9
26,6467-CHFZW,Male,0,Yes,Yes,47,Yes,Yes,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,99,4749.0,Yes,2019-05-29,9
27,8665-UTDHZ,Male,0,Yes,Yes,1,No,No phone service,DSL,No,...,No,No,Month-to-month,No,Electronic check,30,30.0,Yes,2019-05-29,9
28,5248-YGIJN,Male,0,Yes,No,72,Yes,Yes,DSL,Yes,...,Yes,Yes,Two year,Yes,Credit card (automatic),90,6369.0,No,2019-05-29,9
29,8773-HHUOZ,Female,0,No,Yes,17,Yes,No,DSL,No,...,Yes,Yes,Month-to-month,Yes,Mailed check,64,1093.0,Yes,2019-05-29,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7013,1685-BQULA,Female,0,No,No,40,Yes,Yes,Fiber optic,No,...,Yes,No,Month-to-month,Yes,Bank transfer (automatic),93,3756.0,No,2019-05-29,9
7014,9053-EJUNL,Male,0,No,No,41,Yes,Yes,Fiber optic,No,...,Yes,No,Month-to-month,Yes,Electronic check,89,3645.0,No,2019-05-29,9
7015,0666-UXTJO,Male,1,Yes,No,34,Yes,No,Fiber optic,No,...,Yes,No,Month-to-month,Yes,Credit card (automatic),85,2874.0,No,2019-05-29,9
7016,1471-GIQKQ,Female,0,No,No,1,Yes,No,DSL,No,...,No,No,Month-to-month,No,Electronic check,49,49.0,No,2019-05-29,9
7017,4807-IZYOZ,Female,0,No,No,51,Yes,No,No,No internet service,...,No internet service,No internet service,Two year,No,Bank transfer (automatic),20,1020.0,No,2019-05-29,9
7018,1122-JWTJW,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Mailed check,70,70.0,Yes,2019-05-29,9
7019,9710-NJERN,Female,0,No,No,39,Yes,No,No,No internet service,...,No internet service,No internet service,Two year,No,Mailed check,20,826.0,No,2019-05-29,9
7020,9837-FWLCH,Male,0,Yes,Yes,12,Yes,No,No,No internet service,...,No internet service,No internet service,Month-to-month,Yes,Electronic check,19,239.0,No,2019-05-29,9
7021,1699-HPSBG,Male,0,No,No,12,Yes,No,DSL,No,...,Yes,No,One year,Yes,Electronic check,59,727.0,Yes,2019-05-29,9
7022,7203-OYKCT,Male,0,No,No,72,Yes,Yes,Fiber optic,No,...,Yes,Yes,One year,Yes,Electronic check,104,7544.0,No,2019-05-29,9
7023,1035-IPQPU,Female,1,Yes,No,63,Yes,Yes,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,103,6479.0,No,2019-05-29,9
7024,7398-LXGYX,Male,0,Yes,No,44,Yes,Yes,Fiber optic,Yes,...,No,No,Month-to-month,Yes,Credit card (automatic),84,3626.0,No,2019-05-29,9
7025,2823-LKABH,Female,0,No,No,18,Yes,Yes,Fiber optic,No,...,No,Yes,Month-to-month,Yes,Bank transfer (automatic),95,1679.0,No,2019-05-29,9
7026,8775-CEBBJ,Female,0,No,No,9,Yes,No,DSL,No,...,No,No,Month-to-month,Yes,Bank transfer (automatic),44,403.0,Yes,2019-05-29,9
7027,0550-DCXLH,Male,0,No,No,13,Yes,No,DSL,No,...,Yes,Yes,Month-to-month,No,Mailed check,73,931.0,No,2019-05-29,9
7028,9281-CEDRU,Female,0,Yes,No,68,Yes,No,DSL,No,...,Yes,No,Two year,No,Bank transfer (automatic),64,4326.0,No,2019-05-29,9
7029,2235-DWLJU,Female,1,No,No,6,No,No phone service,DSL,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,44,263.0,No,2019-05-29,9
7030,0871-OPBXW,Female,0,No,No,2,Yes,No,No,No internet service,...,No internet service,No internet service,Month-to-month,Yes,Mailed check,20,39.0,No,2019-05-29,9
7031,3605-JISKB,Male,1,Yes,No,55,Yes,Yes,DSL,Yes,...,No,No,One year,No,Credit card (automatic),60,3316.0,No,2019-05-29,9
7032,6894-LFHLY,Male,1,No,No,1,Yes,Yes,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,75,75.0,Yes,2019-05-29,9
7033,9767-FFLEM,Male,0,No,No,38,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Credit card (automatic),69,2625.0,No,2019-05-29,9
7034,0639-TSIQW,Female,0,No,No,67,Yes,Yes,Fiber optic,Yes,...,Yes,No,Month-to-month,Yes,Credit card (automatic),102,6886.0,Yes,2019-05-29,9
7035,8456-QDAVC,Male,0,No,No,19,Yes,No,Fiber optic,No,...,Yes,No,Month-to-month,Yes,Bank transfer (automatic),78,1495.0,No,2019-05-29,9
7036,7750-EYXWZ,Female,0,No,No,12,No,No phone service,DSL,No,...,Yes,Yes,One year,No,Electronic check,60,743.0,No,2019-05-29,9
7037,2569-WGERO,Female,0,No,No,72,Yes,No,No,No internet service,...,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),21,1419.0,No,2019-05-29,9
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,One year,Yes,Mailed check,84,1990.0,No,2019-05-29,9
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,Yes,One year,Yes,Credit card (automatic),103,7362.0,No,2019-05-29,9
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,Month-to-month,Yes,Electronic check,29,346.0,No,2019-05-29,9
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,Month-to-month,Yes,Mailed check,74,306.0,Yes,2019-05-29,9
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Two year,Yes,Bank transfer (automatic),105,6844.0,No,2019-05-29,9

In [2]:
type(telcom)

pyspark.sql.dataframe.DataFrame

In [4]:
import pandas as pd
telcom = pd.read_csv("/home/etl/ETL/inputdata/WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [5]:
type(telcom)

pandas.core.frame.DataFrame